/* note card container  */
.note-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity:50%;
    filter:blur(50px);
    left: 0;
    top:0;
    z-index: 99;
}
.note-card-modal{
    top:22vh;
    right:18vw;
    box-shadow: 1px 1px 5px 2px whitesmoke;
    border-radius:1rem;
    z-index: 100;
}
/* Note Card  */
.note-card{
    background-color: white;
    margin-top: 0;
    height: 60vh;
    width: 60vw;
}
/* Note Iput fields  */
.note-card__textarea,.note-card__heading{
border: none;
padding:1rem;
}
.note-card__textarea{
    height:40rem;
    resize:none;
}
.note-card__heading:focus{
    outline:none
}
.note-card__textarea:focus{
    outline:none;
}
 /* card footer  */
 .note-card__footer{
     align-items:center
 }
.note-card__footer--date{
    color:grey;
}
.note-card-icon:hover{
   color:var(--primary);
   cursor:pointer;

}
/* card pin icon  */
.card-pin-icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
}
.card-pin-icon:hover{
    color:var(--primary);
    cursor:pointer;
 }

 .pinned-card{
     width:20vw
 }

 /* Note Tags  */
 .tags{
     font-size: 1.5rem;
 }