.home-main{
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
overflow:hidden;
}
.main{
    overflow-y:scroll;
    height:calc(100vh - 8rem)
}
.main::-webkit-scrollbar {
    display: none;
  }
.right-sidebar{
    overflow-y:scroll;
    height:calc(100vh - 8rem)

}